
.icon-kununu-icon:before { content: '\e800'; } /* '' */
.icon-medium-boxed-icon:before { content: '\e801'; } /* '' */
.icon-medium-3d-icon:before { content: '\e802'; } /* '' */
.icon-medium-icon:before { content: '\e803'; } /* '' */